$container-max-width: 12*160 !default;
$grid-gap: 32px !default;
$grid-gap-divide: $grid-gap / 2;
$grid-columns: 24;

.container {
	margin: 0 auto;
	max-width: $container-max-width;
	padding-left: $grid-gap-divide;
	padding-right: $grid-gap-divide;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$grid-gap-divide;
	margin-right: -$grid-gap-divide;
}

@mixin col($size) {
	flex: 0 0 auto;
	width: calc( #{percentage($size / $grid-columns)} - #{$grid-gap} );
	margin-left: $grid-gap-divide;
	margin-right: $grid-gap-divide;
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		@include col($i);
	}
}

.col {
	flex: 1 0 0%;
	
}